# Required - The ID of your Sanity project
SANITY_STUDIO_PROJECT_ID=""
# Required - The dataset of your Sanity project
SANITY_STUDIO_DATASET=""
# Required for import scripts that create or update content
SANITY_API_WRITE_TOKEN=""
# Optional - The URL of your application, for use in Presentation
SANITY_STUDIO_PREVIEW_URL=""
# Required for the poll reporting tool to call the SvelteKit admin API
SANITY_STUDIO_POLL_ADMIN_TOKEN=""
# Optional - The URL to deploy your Sanity Studio to,
SANITY_STUDIO_STUDIO_HOST=""
